.banner{
    background: linear-gradient(180deg, rgba(28, 28, 28, 0.866) 81%, rgba(18, 18, 18, 0.139) 100%), url("https://i.ibb.co/8DYBRyG/food-and-drink.jpg");  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 400px;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}